h1 {
    font-family: 'Manrope';
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    margin-bottom: 20px;

    span {
        font-family: 'Instrument Serif';
        border-bottom: 2px solid black;
    }
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    padding: 30px;
    border: 1px solid black;
    border-radius: 6px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px;
    font-family: 'Instrument Serif';

}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bolder;
}

.btn {
    background-color: #6a5acd;
    color: white;
}

@media (max-width: 760px) {
    form {
        margin: 20px;
    }
}

@media (max-width: 500px) {
    form {
        margin: 20px;
    }
}