h1 {
    font-family: 'Manrope';
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-size: 60px;

    span {
        font-family: 'Instrument Serif';
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    font-family: 'Manrope';
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc(33.333% - 20px);
}

img {
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
}

small {
    font-size: 0.875rem;
    color: #999;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Instrument Serif';
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.categoria {
    color: slateblue;
}


/* MediaQueries */

@media (max-width: 760px) {
    article {
        width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    article {
        width: 100%;
    }
}