h1 {
    font-family: 'Manrope';
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-size: 60px;


    span {
        font-family: 'Instrument Serif';
        font-weight: 500;
        border-bottom: 2px solid black;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

article {
    font-family: 'Manrope';
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc(33.333% - 20px);
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 5px;
}

small {
    font-size: 0.875rem;
    color: #999;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Instrument Serif';
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

select {
    border: none;
    outline: none;
}

select:focus {
    outline: none;
    box-shadow: none;
}

.categoria {
    color: slateblue;

}

.categoria-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}

.categoria-container select {
    font-family: 'Instrument Serif';
    font-size: 20px;
    padding: 8px;
    margin-right: 50px;
    width: 150px;
}


/* MediaQueries */

@media (max-width: 760px) {
    article {
        width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    article {
        width: 100%;
    }
}